# Preço de Imóveis em São Paulo

Neste módulo, iremos treinar um modelo para fazer a previsão do preço de venda de apartamentos na cidade de São Paulo e usar esse modelo para alimentar uma aplicação web mediante *deploy*.

Como o objetivo é focar na construção do *webapp* e em como subir uma aplicação, a etapa da análise exploratória será suprimida (feita anteriormente por mim).

Como identifiquei as colunas desnecessárias e redundantes, irei direto ao ponto do treinamento, visando mostrar principalmente como exportar e importar o modelo com a biblioteca `joblib`.

## Dados de Imóveis

Os dados usados aqui foram obtidos [neste link](https://www.kaggle.com/argonalyst/sao-paulo-real-estate-sale-rent-april-2019), e foram disponibilizados publicamente pela startup OpenImob.

Para facilitar seu projeto, disponibilizei o arquivo `csv` [neste link](https://www.dropbox.com/s/h8blgaphkfpqsn5/sao-paulo-properties-april-2019.csv?dl=1), a partir do meu Dropbox.

## Análise e Tratamento dos Dados

Os dados originais contém 13.640 entradas e 16 colunas, sendo a coluna `Price` a nossa variável alvo.

In [1]:
# importar os pacotes necessários
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# importar o dataset para um dataframe
url_dataset = "https://www.dropbox.com/s/h8blgaphkfpqsn5/sao-paulo-properties-april-2019.csv?dl=1"
df = pd.read_csv(url_dataset)

# ver as 5 primeiras entradas
display(df.head())

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

Se você também reparar acima, os nomes dos bairros tinham uma informação desnecessária para este *dataset* específico, acrescentando a *string* `"/São Paulo"` ao final de cara nome. Usando `df_clean['District'].apply(lambda x: x.split('/')[0]` eu simplesmente removi essa informação e deixei mais limpa a coluna.

Se você explorar melhor esse *dataset* vai ver que ele contempla duas situações: aluguel ou venda.

In [2]:
df_clean = df.copy()

# Limpar os nomes do bairros
df_clean['District'] = df_clean['District'].apply(lambda x: x.split('/')[0])

# ver as 5 primeiras entradas
df_clean.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim,rent,apartment,-23.525025,-46.482436

## Modelo de Machine Learning

Arbitrariamente, escolhi o modelo Random Forest para treinar meu modelo e observei três principais métricas de avaliação.

In [3]:
# dummy variables
df_clean = pd.get_dummies(df_clean)

# separar entre variáveis X e y
X_simp = df_clean.drop('Price', axis=1)
y_simp = df_clean['Price']

# split entre datasets de treino e teste
X_train_simp, X_test_simp, y_train_simp, y_test_simp = train_test_split(X_simp, y_simp, test_size=0.33)

# instanciar e treinar o modelo
model = RandomForestRegressor(random_state=42)
model.fit(X_train_simp, y_train_simp)

# fazer as previsões em cima do dataset de teste
y_pred_simp = model.predict(X_test_simp)

# métricas de avaliação
print("r2: \t{:.4f}".format(r2_score(y_test_simp, y_pred_simp)))
print("MAE: \t{:.4f}".format(mean_absolute_error(y_test_simp, y_pred_simp)))
print("MSE: \t{:.4f}".format(mean_squared_error(y_test_simp, y_pred_simp)))

r2: 	0.9358
MAE: 	44173.0098
MSE: 	19614647648.8635

#### Salvando o modelo

O nosso modelo está treinado e é capaz de realizar previsões. No entanto, está "preso" ao *kernel* rodando dentro do Google Colab.

Imagine precisar rodar todas as células novamente a cada vez que fosse fazer uma previsão. Seria inviável!

Para conseguir exportar o modelo de *machine learning* (na verdade, isso pode ser feito com qualquer estrutura de dados) vou usar a biblioteca `joblib`.

In [4]:
# salvar o modelo em formato joblib
from joblib import dump, load

dump(model, 'model.joblib')

['model.joblib']

Uma vez que você exporta o seu modelo, é extremamente importante que você também salve os nomes das *features* que esse modelo espera receber, e tem que ser na ordem exata que ele foi treinado.

Da mesma maneira que fizemos com o modelo, salvei os nomes das variáveis em `features_simples.names`.

In [5]:
# salvar os nomes das features do modelo simples
features = X_train_simp.columns.values

dump(features, 'features.names')

['features.names']

In [4]:
# salvar o modelo em formato joblib
from joblib import dump, load
dump(model, 'final_model.joblib')

# salvar os nomes das features do modelo simples
features = X_train_simp.columns.values

dump(features, 'features.names')

['features.names']

#### Carregando o modelo

Uma vez que você salvou o modelo em um arquivo, consegue carregar ele novamente usando o `pickle.load()`

In [5]:
# importar modelo e feature names

new_model = load('final_model.joblib')
features = load('features.names')

In [6]:
# importar modelo e feature names
new_model = load('model.joblib') 
features = load('features.names')

In [7]:
# ver o tipo da nova variável
type(new_model)

sklearn.ensemble._forest.RandomForestRegressor

In [8]:
import sklearn
sklearn.__version__

'1.1.2'

In [9]:
X_simp

,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,...,District_Vila Maria,District_Vila Mariana,District_Vila Matilde,District_Vila Olimpia,District_Vila Prudente,District_Vila Sônia,District_Água Rasa,Negotiation Type_rent,Negotiation Type_sale,Property Type_apartment
0,220,47,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,148,45,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,100,48,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,200,48,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,410,55,2,2,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,420,51,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
13636,630,74,3,2,1,2,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
13637,1100,114,3,3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
13638,48,39,1,2,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,1
13639,0,44,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [13]:
X_simp.dtypes

Condo                      int64
Size                       int64
Rooms                      int64
Toilets                    int64
Suites                     int64
                           ...
District_Vila Sônia        uint8
District_Água Rasa         uint8
Negotiation Type_rent      uint8
Negotiation Type_sale      uint8
Property Type_apartment    uint8
Length: 111, dtype: object

In [12]:
import numpy as np
import json

dict(zip(X_simp.columns.values, np.zeros(X_simp.shape[0]).astype(int)))

{'Condo': 0,
 'Size': 0,
 'Rooms': 0,
 'Toilets': 0,
 'Suites': 0,
 'Parking': 0,
 'Elevator': 0,
 'Furnished': 0,
 'Swimming Pool': 0,
 'New': 0,
 'Latitude': 0,
 'Longitude': 0,
 'District_Alto de Pinheiros': 0,
 'District_Anhanguera': 0,
 'District_Aricanduva': 0,
 'District_Artur Alvim': 0,
 'District_Barra Funda': 0,
 'District_Bela Vista': 0,
 'District_Belém': 0,
 'District_Bom Retiro': 0,
 'District_Brasilândia': 0,
 'District_Brooklin': 0,
 'District_Brás': 0,
 'District_Butantã': 0,
 'District_Cachoeirinha': 0,
 'District_Cambuci': 0,
 'District_Campo Belo': 0,
 'District_Campo Grande': 0,
 'District_Campo Limpo': 0,
 'District_Cangaíba': 0,
 'District_Capão Redondo': 0,
 'District_Carrão': 0,
 'District_Casa Verde': 0,
 'District_Cidade Ademar': 0,
 'District_Cidade Dutra': 0,
 'District_Cidade Líder': 0,
 'District_Cidade Tiradentes': 0,
 'District_Consolação': 0,
 'District_Cursino': 0,
 'District_Ermelino Matarazzo': 0,
 'District_Freguesia do Ó': 0,
 'District_Grajaú': 0,
 'District_Guaianazes': 0,
 'District_Iguatemi': 0,
 'District_Ipiranga': 0,
 'District_Itaim Bibi': 0,
 'District_Itaim Paulista': 0,
 'District_Itaquera': 0,
 'District_Jabaquara': 0,
 'District_Jaguaré': 0,
 'District_Jaraguá': 0,
 'District_Jardim Helena': 0,
 'District_Jardim Paulista': 0,
 'District_Jardim São Luis': 0,
 'District_Jardim Ângela': 0,
 'District_Jaçanã': 0,
 'District_José Bonifácio': 0,
 'District_Lajeado': 0,
 'District_Lapa': 0,
 'District_Liberdade': 0,
 'District_Limão': 0,
 'District_Mandaqui': 0,
 'District_Medeiros': 0,
 'District_Moema': 0,
 'District_Mooca': 0,
 'District_Morumbi': 0,
 'District_Pari': 0,
 'District_Parque do Carmo': 0,
 'District_Pedreira': 0,
 'District_Penha': 0,
 'District_Perdizes': 0,
 'District_Perus': 0,
 'District_Pinheiros': 0,
 'District_Pirituba': 0,
 'District_Ponte Rasa': 0,
 'District_Raposo Tavares': 0,
 'District_República': 0,
 'District_Rio Pequeno': 0,
 'District_Sacomã': 0,
 'District_Santa Cecília': 0,
 'District_Santana': 0,
 'District_Santo Amaro': 0,
 'District_Sapopemba': 0,
 'District_Saúde': 0,
 'District_Socorro': 0,
 'District_São Domingos': 0,
 'District_São Lucas': 0,
 'District_São Mateus': 0,
 'District_São Miguel': 0,
 'District_São Rafael': 0,
 'District_Sé': 0,
 'District_Tatuapé': 0,
 'District_Tremembé': 0,
 'District_Tucuruvi': 0,
 'District_Vila Andrade': 0,
 'District_Vila Curuçá': 0,
 'District_Vila Formosa': 0,
 'District_Vila Guilherme': 0,
 'District_Vila Jacuí': 0,
 'District_Vila Leopoldina': 0,
 'District_Vila Madalena': 0,
 'District_Vila Maria': 0,
 'District_Vila Mariana': 0,
 'District_Vila Matilde': 0,
 'District_Vila Olimpia': 0,
 'District_Vila Prudente': 0,
 'District_Vila Sônia': 0,
 'District_Água Rasa': 0,
 'Negotiation Type_rent': 0,
 'Negotiation Type_sale': 0,
 'Property Type_apartment': 0}